.welcome{
  background-image:url(Assets/backgrounds/welcome.jpg);
  text-align:center;
  color:white;
}
.logo{
  margin-left:30px;
}
.mouse_click{
  margin-left:20px;
}
.content{
  text-align: center;
}
.services{
  text-align: center;
  color: white;
  background-image:url(Assets/backgrounds/services.jpg);
}
.contact{
  background-image:url(Assets/backgrounds/c_image.jpg);
  color: white;
  text-align:center;
  align-content:center;
  align-items: center;

}
.container{
  align-items:center;
  text-align:center;
}
.form-group{
  margin-top:50px;
}
.contact form{
  margin-left:250px;
}
.col-2{
  margin-left:350px;
}
.Portfolio{
  margin-left: 100px;
  margin-right: 300px;
  text-align: center;
  padding-bottom:30px;
}
.Portfolio img{
  height: 100px;
  width: 100px;
  padding-left:10px;
  padding-top:10px;
  padding-right:10px;
  margin-left: 100px;
  margin-right:100px;
  text-align: center;

}